brotli==1.0.9
cartopy==0.20.2
ConfigParser==5.2.0
cryptography==3.3.2
Cython==0.29.27
dl==0.1.0
docutils==0.17.1
geoip2==4.5.0
graphviz==0.19.1
HTMLParser==0.0.2
ipython==8.0.1
Jinja2==3.0.3
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
lzw==0.01.11
matplotlib==3.4.3
mock==4.0.3
monotonic==1.5
numpy==1.19.5
ordereddict==1.1
prompt_toolkit==3.0.24
protobuf==3.19.4
pycares==4.1.2
pycurl==7.44.1
pyOpenSSL==22.0.0
pytest==6.2.5
pyx==0.15
railroad==0.5.0
traitlets==5.1.1
typing_extensions==4.0.1
vpython==7.6.3
wincertstore==0.2.1
xmlrpclib==1.0.1
zstandard==0.17.0
